.pie-principal {
    padding-top: 80px; 
    font-size: 15px;
    color: #a0a6b5; 
}

.cuadricula-pie {
    display: flex;
    justify-content: space-between; 
    gap: 40px; 
    padding-bottom: 60px; 
    position: relative; 
    z-index: 2;
}

.sobre-nosotros-pie {
    width: 30%; 
}

.logo-claro img {
    height: 75px;
    margin-bottom: 25px;
    display: block;
}

.sobre-nosotros-pie p {
    line-height: 1.8;
}

.contacto-pie h3,
.articulos-pie h3 {
    color: #fff; 
    font-size: 18px;
    margin-bottom: 30px;
    position: relative;
    padding-bottom: 15px; 
}

.contacto-pie h3::after,
.articulos-pie h3::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 2px;
    background-color: #f1b924;
}


.contacto-pie {
    width: 30%;
}

.item-contacto {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column; 
}

.item-contacto strong {
    color: #fff; 
    font-size: 16px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.item-contacto span {
    font-size: 13px; 
    opacity: 0.7;
}


.articulos-pie {
    width: 30%;
}

.articulos-pie ul {
    list-style: none;
    padding: 0;
}

.articulos-pie ul li {
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.05); 
    padding-bottom: 15px;
}

.articulos-pie ul li:last-child {
    border-bottom: none; 
}

.articulos-pie ul li a {
    color: #fff;
    font-weight: 600;
    display: block; 
    margin-bottom: 5px;
    transition: color 0.3s;
}

.articulos-pie ul li a:hover {
    color: #f1b924; 
}

.articulos-pie ul li span {
    font-size: 13px;
    color: #6a7a95; 
}

.parte-inferior-pie {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(0, 0, 0, 0.2); 
    padding: 25px 0;
    position: relative;
    z-index: 2;
}

.contenido-inferior {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenido-inferior p {
    font-size: 13px;
    margin: 0;
}

.contenido-inferior p a {
    color: #fff;
    margin: 0 5px;
}

.contenido-inferior p a:hover {
    color: #f1b924;
    text-decoration: underline;
}


.iconos-sociales {
    display: flex;
    gap: 15px;
    align-items: center;
}

.iconos-sociales a {
    color: #fff; 
    font-size: 18px; 
    opacity: 0.5; 
    transition: all 0.3s ease;
}

.iconos-sociales a:hover {
    opacity: 1;
    color: #fff; 
}